.login-box {
  width: 490px;
  position: relative;

  &.form-box {
    padding: 105px 63px 44px;
  }
  .card-header {
    margin-bottom: 36px;
  }
  .logo {
    width: 228px;
    height: 65px;
    background: url("~@/assets/logos/logo.svg") center center no-repeat;
    background-size: 100%;
  }
  .input-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input-md {
      max-width: 240px;
    }

    .dmain-title {
      font-size: 14px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: var(--v-gunmetal-base);
    }
  }
  .remmber-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    .v-input__control {
      flex-direction: revert;
      flex-wrap: nowrap;
    }
    .check-box {
      .v-icon {
        color: #75757569;
      }
      .v-label {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: #2c383e;
      }
    }
    .link {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.0428571px;
      text-decoration-line: underline;
      color: #40c4ff;
    }
  }
  .alert-box {
    position: absolute;
    width: auto;
    min-width: 200px;
    top: 11px;
    left: 11px;
    right: 11px;
    .v-alert__content {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.13125px;
      color: var(--v-white-base);
      text-align: center;
    }
    .v-btn {
      color: #fff;
    }
  }
}
