// @import "~vuetify/src/styles/styles.sass";
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.v-main {
  background: var(--v-solitude-base);
}
.v-main__wrap {
  display: flex;
  flex: 1;
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.wrapper {
  padding: 1rem;
  width: 100%;
  min-height: calc(100vh - 188px);
  font-size: $font-size-root;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 1.3rem;
}
