// @import "~vuetify/src/styles/styles.sass";
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.v-main {
  background: var(--v-solitude-base);
}
.v-main__wrap {
  display: flex;
  flex: 1;
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.wrapper {
  padding: 1rem;
  width: 100%;
  min-height: calc(100vh - 188px);
  font-size: $font-size-root;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 1.3rem;
}

.v-input {
  border-radius: 0.2rem;
  margin: 10px 0px !important;

  fieldset {
    border: 1px solid rgba(0, 0, 0, 0.32);
  }
  .v-label {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--v-catalina-base);
  }
}
.v-text-field {
  .v-input__slot,
  .v-text-field__slot {
    height: 5rem !important;
    min-height: 5rem !important;
  }
  // text
  input {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.011rem;
    color: var(--v-gunmetal-base);
    text-indent: 1px;

    &::placeholder {
      color: var(--v-bali_hai-base) !important;
      opacity: 1;
    }
  }

  .theme--light.v-icon {
    color: #cfd8dc;
  }
}
.v-text-field--full-width .v-input__prepend-outer,
.v-text-field--full-width .v-input__prepend-inner,
.v-text-field--full-width .v-input__append-inner,
.v-text-field--full-width .v-input__append-outer,
.v-text-field--enclosed .v-input__prepend-outer,
.v-text-field--enclosed .v-input__prepend-inner,
.v-text-field--enclosed .v-input__append-inner,
.v-text-field--enclosed .v-input__append-outer {
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.v-text-field__details {
  display: none;
}
.error--text {
  .v-text-field__details {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
  }
}
