// root font size
$font-size-root: 10px;
$line-height-root: 14px;
$input-font-size: 1.2rem !default;

$list-item-dense-title-line-height: 1.5rem;
$color-pack: false;
$body-font-family: "Roboto", "Almarai", serif;
$border-radius-root: 6px;

$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;

$fab-icon-sizes: (
  "small": 20,
);

$btn-font-sizes: (
  "x-small": 1rem,
  "small": 1.2rem,
  "default": 1.4rem,
  "large": 1.6rem,
  "x-large": 1.8rem,
);

// $btn-letter-spacing: 0.001rem;

$btn-sizes: (
  "x-small": 24,
  "small": 32,
  "default": 40,
  "large": 48,
  "x-large": 56,
);

$btn-transition-duration: 0.2rem;

$headings: (
  "h1": (
    "size": 3.3125rem,
    "line-height": 1.15em,
  ),
  "h2": (
    "size": 2.25rem,
    "line-height": 1.5em,
  ),
);
