.app-aside-nav {
  .v-list {
    padding-right: 0px;
  }
  .v-list-item {
    border-right: 4px solid transparent;
    border-radius: 0px !important;
    .v-list-item__title {
      color: #fff;
    }

    .v-icon {
      color: #fff;
    }

    &:hover,
    &.v-list-item--active {
      border-right: 4px solid #2eb2dc;
      background-color: #36474f !important;
      &::before {
        opacity: 0 !important;
      }
      .v-list-item__title {
        opacity: 1 !important;
      }
      .v-icon {
        color: #fff;
      }
    }
  }
}
