.app-aside-nav {
  padding: 3rem 0rem 0rem;
  .nav-v-list {
    padding: 0rem;
  }
  .nav-separator {
    background: #37474f;
    height: 0.1rem;
    width: 90%;
    margin: 2.1rem auto;
  }

  .v-list-item {
    border-right: 0.4rem solid transparent;
    border-radius: 0rem !important;
    .v-list-item__title {
      color: #fff;
    }

    .img-icon {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
    }

    .v-list-item__icon {
      align-items: center;
    }

    &:hover,
    &.v-list-item--active {
      border-right: 0.4rem solid #2eb2dc;
      background-color: #36474f !important;
      &::before {
        opacity: 0 !important;
      }
      .v-list-item__title {
        opacity: 1 !important;
      }
      .v-icon {
        color: #fff;
      }
    }
  }

  .footer-logo {
    height: 3.6rem;
    margin: auto;
    margin-bottom: 1.6rem;
  }

  // if it not mini
  &:not(.v-navigation-drawer--mini-variant) {
    .footer-logo {
      background: url("~@/assets/navbar/logo-footer.svg") center center
        no-repeat;
      background-size: 17.1rem 3.6rem;
      width: 17.1rem;
    }

    .v-list-item {
      padding: 0 2.1rem 0 3.5rem;
    }
  }

  // if it mini
  &.v-navigation-drawer--mini-variant {
    .footer-logo {
      background: url("~@/assets/navbar/logo-footer-collapse.svg") center center
        no-repeat;
      background-size: 3rem 3.6rem;
      width: 3rem;
    }

    .v-list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 4.5rem;
      .v-list-item__icon {
        margin: 0;
        align-self: center;
        display: flex;
      }

      &:after,
      &:after {
        min-height: auto;
      }
    }
  }
}

.v-application--is-ltr
  .app-aside-nav:not(.v-navigation-drawer--mini-variant)
  .v-list-item__action:first-child,
.v-application--is-ltr
  .app-aside-nav:not(.v-navigation-drawer--mini-variant)
  .v-list-item__icon:first-child {
  margin-right: 20px !important;
}
.v-application--is-rtl
  .app-aside-nav:not(.v-navigation-drawer--mini-variant)
  .v-list-item__action:first-child,
.v-application--is-rtl
  .app-aside-nav:not(.v-navigation-drawer--mini-variant).v-list-item__icon:first-child {
  margin-left: 20px !important;
}
