// @import "~vuetify/src/styles/styles.sass";
.app-nav-bar {
  position: relative;

  .v-toolbar__content {
    padding: 0.5rem 3rem 0.5rem 2.2rem;
  }

  .banar-nav {
    height: 4.4rem !important;
    color: var(--v-white--base);

    .trial-maessage {
      margin: 0rem;
      color: #ffffffad;
      font-size: 1.2rem;
    }
    .lang {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .vertical-spacer {
      width: 0.1rem;
      display: flex;
      height: 2rem;
      margin: 0rem 1rem;
      background-color: #fff;
    }
  }

  .brand-box {
    .v-image {
      max-width: 3.5rem;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .burger-btn {
    display: flex;
    width: 36px;
    margin: 0px 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    .v-image__image--contain {
      width: 18px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
  .btn-action {
    &.v-icon {
      margin: 0rem 0.5rem;
      cursor: pointer;
      color: #000 !important;
      border: 0.1rem solid transparent;
      padding: 1.28rem 1.44rem;
      &:hover {
        opacity: 0.6;
        border: 0.1rem solid map-get($grey, lighten-3);
      }
    }
  }

  .page-title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6rem;
    text-transform: capitalize;
  }

  .btn-link {
    height: 6.4rem !important;
    border-bottom: 0.1rem solid transparent;
    border-radius: 0rem;
    background: transparent;
    .v-btn__content {
      font-size: 1.44rem;
      font-weight: 700;
      line-height: 1.44rem;
      text-transform: capitalize;
    }

    &:hover,
    &.active {
      background: transparent !important;
      border-bottom: 0.1rem solid #000 !important;
    }

    &.v-btn:before {
      background-color: transparent !important;
    }
  }

  .user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 0.1rem solid map-get($grey, lighten-3);
    border-radius: 0.1rem;
    padding: 0.64rem 1rem;

    .user-avatar {
      font-size: 3.6rem;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .user-name {
        font-size: 1.5rem;
        line-height: 1.6rem;
        text-transform: capitalize;
        font-weight: bold;
      }

      .user-type {
        font-weight: 400;
        text-transform: capitalize;
        font-size: 1rem;
        line-height: 1.6rem;
      }
    }
  }
}
